[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=HOME=/home/admin1475963
Type=simple
ExecStart=/usr/local/bin/kanata --cfg $HOME/.config/kanata/kanata.kbd
Restart=never

[Install]
WantedBy=default.target
